##############################
## Folders                  ##
##############################
.idea
/data
vendor

#忽略日志文件
/static/logs

##############################
## File                     ##
##############################
composer.lock

#这是所有编辑的缓存文件，都不要上传
*.swp


